@use './variables';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: variables.$background-color;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}


@media screen and (max-width: 768px) {
  .container {
    width: 768px;
    max-width: 100%;
  }

  .containerSections {
    max-width: 90%;
  }
}